<div class='mt-4 ml-5 mr-5'>
    <h3>Dang ki khoa hoc</h3>

    <form method='POST' action='store'>
        <div class='mb-3'>
            <label for='exampleInputEmail1' class='form-label'>Name</label>
            <input type='text' class='form-control' name='name' />
        </div>

        <div class='mb-3'>
            <label for='exampleInputEmail1' class='form-label'>VideoID</label>
            <input name='videoId' type='text' class='form-control' />

        </div>

        <div class='mb-3'>
            <label for='exampleInputEmail1' class='form-label'>Description</label>
            <input name='description' type='text' class='form-control' />

        </div>

        <div class='mb-3'>
            <label for='exampleInputEmail1' class='form-label'>Level</label>
            <input name='level' type='text' class='form-control' />

        </div>

        <button type='submit' class='btn btn-primary'>Them khoa hoc</button>
    </form>

</div>