<div class='mt-4'>
    <form method="POST" >
        <div class='form-group'>
            <label for='nameinput'>Tim kiem</label>
            {{!-- <input type='text' name="fullname" />
            <input type='text' name="age" /> --}}
            <input type='text' name="q" class='form-control' id='nameinput' placeholder='Enter email' />
        </div>

        <div class='form-group'>
            <label for='gender-input'>Tim kiem</label>
            <select name="gender" class="form-control" id ="gender-input">
                <option value="">Chon gender</option>
                <option value="male">Nam</option>
                <option value="female">nu</option>
            </select>
        </div>
        

        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
</div>